<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Zoomable Line Chart
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <apx-chart
                [series]="series!"
                [chart]="chart!"
                [dataLabels]="dataLabels!"
                [markers]="markers!"
                [title]="title!"
                [fill]="fill!"
                [yaxis]="yaxis!"
                [xaxis]="xaxis!"
                [grid]="grid!"
                [tooltip]="tooltip!"
                [autoUpdateSeries]="true!"
            ></apx-chart>
        </div>
    </mat-card-content>
</mat-card>