<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Tasks Overview
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <apx-chart
                [plotOptions]="chartOptions.plotOptions!"
                [dataLabels]="chartOptions.dataLabels!"
                [series]="chartOptions.series!"
                [labels]="chartOptions.labels!"
                [legend]="chartOptions.legend!"
                [colors]="chartOptions.colors!"
                [stroke]="chartOptions.stroke!"
                [chart]="chartOptions.chart!"
            ></apx-chart>
        </div>
    </mat-card-content>
</mat-card>