.cta-content {
  max-width: 830px;
}
.cta-content h2 {
  font-size: 48px;
  margin-bottom: 35px;
  letter-spacing: -1.5px;
}
.cta-content p {
  max-width: 740px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
.cta-content .mat-mdc-button {
  height: auto;
  min-width: auto;
  margin-top: 30px;
  border-radius: 7px;
  padding: 14px 17px;
  display: inline-block;
  color: var(--whiteColor);
  background-color: var(--purpleColor);
  font-size: 16px;
  font-weight: 500;
}
.cta-content .mat-mdc-button:not(:disabled) {
  color: var(--whiteColor);
}

::ng-deep .cta-content .mat-mdc-button .mdc-button__label {
  padding-left: 29px;
}
::ng-deep .cta-content .mat-mdc-button .mdc-button__label i {
  left: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
::ng-deep .component-rtl-enabled .cta-content .mat-mdc-button .mdc-button__label {
  padding-left: 0;
  padding-right: 29px;
}
::ng-deep .component-rtl-enabled .cta-content .mat-mdc-button .mdc-button__label i {
  left: auto;
  right: 0;
}

.shape1 {
  left: 10px;
  top: -200px;
  z-index: -1;
  position: absolute;
  filter: blur(150px);
}

.shape2 {
  top: 150px;
  right: 25px;
  z-index: -1;
  position: absolute;
  filter: blur(125px);
}

.component-rtl-enabled .shape1 {
  left: auto;
  right: 10px;
}
.component-rtl-enabled .shape2 {
  right: auto;
  left: 25px;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .cta-content {
    max-width: 100%;
  }
  .cta-content h2 {
    font-size: 28px;
    margin-bottom: 13px;
    letter-spacing: -0.5px;
  }
  .cta-content p {
    max-width: 100%;
    font-size: 13px;
  }
  .cta-content .mat-mdc-button {
    margin-top: 5px;
    font-size: 13px;
  }
  ::ng-deep .cta-content .mat-mdc-button .mdc-button__label {
    padding-left: 25px;
  }
  ::ng-deep .cta-content .mat-mdc-button .mdc-button__label i {
    font-size: 20px;
  }
  ::ng-deep .component-rtl-enabled .cta-content .mat-mdc-button .mdc-button__label {
    padding-left: 0;
    padding-right: 25px;
  }
  .shape2 {
    display: none;
  }
}
/* Min width 576px to Max width 767px */
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta-content {
    max-width: 680px;
  }
  .cta-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
    letter-spacing: -0.8px;
  }
  .cta-content p {
    max-width: 650px;
    font-size: 15px;
  }
  .cta-content .mat-mdc-button {
    margin-top: 10px;
    font-size: 14px;
  }
  ::ng-deep .cta-content .mat-mdc-button .mdc-button__label {
    padding-left: 28px;
  }
  ::ng-deep .cta-content .mat-mdc-button .mdc-button__label i {
    font-size: 22px;
  }
  ::ng-deep .component-rtl-enabled .cta-content .mat-mdc-button .mdc-button__label {
    padding-left: 0;
    padding-right: 28px;
  }
  .shape2 {
    display: none;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-content {
    max-width: 800px;
  }
  .cta-content h2 {
    font-size: 45px;
    margin-bottom: 25px;
    letter-spacing: -1.2px;
  }
  .cta-content p {
    max-width: 680px;
    font-size: 16px;
  }
  .cta-content .mat-mdc-button {
    margin-top: 20px;
    font-size: 15px;
  }
}
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=fp-cta.component.css.map */