::ng-deep .kanban-board-card .mat-mdc-card-header {
  margin-bottom: 22px;
}
::ng-deep .kanban-board-card .mat-mdc-button.add-new-card-btn {
  height: auto;
  min-width: auto;
  font-weight: 500;
  padding: 8px 13px;
  border-radius: 7px;
  display: inline-block;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}
::ng-deep .kanban-board-card .mat-mdc-button.add-new-card-btn .mdc-button__label {
  display: inline-block;
  padding-left: 22px;
}
::ng-deep .kanban-board-card .mat-mdc-button.add-new-card-btn .mdc-button__label i {
  top: 50%;
  left: -4px;
  font-size: 22px;
  position: absolute;
  transform: translateY(-50%);
}
::ng-deep .kanban-board-card.component-rtl-enabled .mat-mdc-button.add-new-card-btn .mdc-button__label {
  padding-left: 0;
  padding-right: 22px;
}
::ng-deep .kanban-board-card.component-rtl-enabled .mat-mdc-button.add-new-card-btn .mdc-button__label i {
  left: auto;
  right: -4px;
}
::ng-deep .kanban-board-task.mat-mdc-card-content {
  border: 0;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 25px !important;
}
::ng-deep .kanban-board-task.mat-mdc-card-content .title {
  margin-bottom: 15px;
}
::ng-deep .kanban-board-task.mat-mdc-card-content .title .mat-mdc-button {
  color: var(--blackColor);
  border-radius: 0;
  min-width: auto;
  height: auto;
  padding: 0;
}
::ng-deep .kanban-board-task.mat-mdc-card-content .title .mat-mdc-button .mdc-button__label i {
  font-size: 18px;
}
::ng-deep .kanban-board-task.mat-mdc-card-content .info {
  margin-top: 20px;
}
::ng-deep .kanban-board-task.mat-mdc-card-content .info .users img {
  width: 34px;
  height: 34px;
  margin-right: -10px;
  border: 2px solid var(--whiteColor);
}
::ng-deep .kanban-board-task.mat-mdc-card-content .info .users img:last-child {
  margin-right: 0;
}
::ng-deep .kanban-board-task.component-dark-theme.mat-mdc-card-content {
  background-color: #15203c !important;
}
::ng-deep .kanban-board-task.component-dark-theme.mat-mdc-card-content .title {
  --blackColor: var(--whiteColor);
}
::ng-deep .kanban-board-task.component-dark-theme.mat-mdc-card-content .title .mat-mdc-button {
  color: var(--whiteColor);
}
::ng-deep .kanban-board-task.component-dark-theme.mat-mdc-card-content p {
  color: var(--bodyColor);
}
::ng-deep .kanban-board-task.component-dark-theme.mat-mdc-card-content .info .users img {
  border-color: #0C1427;
}
::ng-deep .kanban-board-task.component-rtl-enabled.mat-mdc-card-content {
  direction: rtl;
}
::ng-deep .kanban-board-task.component-rtl-enabled.mat-mdc-card-content .info .users img {
  margin-right: 0;
  margin-left: -10px;
}
::ng-deep .kanban-board-task.component-rtl-enabled.mat-mdc-card-content .info .users img:last-child {
  margin-left: 0;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  ::ng-deep .kanban-board-card .mat-mdc-card-header {
    margin-bottom: 17px;
  }
  ::ng-deep .kanban-board-task.mat-mdc-card-content {
    margin-bottom: 17px;
    padding: 17px !important;
  }
  ::ng-deep .kanban-board-task.mat-mdc-card-content .title {
    margin-bottom: 12px;
  }
  ::ng-deep .kanban-board-task.mat-mdc-card-content .title .mat-mdc-button .mdc-button__label i {
    font-size: 16px;
  }
  ::ng-deep .kanban-board-task.mat-mdc-card-content .info {
    margin-top: 15px;
  }
  ::ng-deep .kanban-board-task.mat-mdc-card-content .info .users img {
    width: 32px;
    height: 32px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  ::ng-deep .kanban-board-card .mat-mdc-card-header {
    margin-bottom: 20px;
  }
  ::ng-deep .kanban-board-task.mat-mdc-card-content {
    margin-bottom: 20px;
    padding: 20px !important;
  }
}
/* Min width 768px to Max width 991px */
/* Min width 992px to Max width 1199px */
/* Min width 1200px to Max width 1399px */
/* Min width 1600px *//*# sourceMappingURL=kanban-board.component.css.map */